.hero {
  position: relative;
}

.hero .banner-image {
  width: 100%;
  mask-image: linear-gradient(to right, transparent, black 75%);
}

.hero-caption {
  width: 100%;
  padding-left: 6%;
  position: absolute;
  bottom: 0;
}

.hero-caption .caption-image {
  width: 90%;
  max-width: 420px;
  margin-bottom: 30px;
}

.hero-caption p {
  text-transform: capitalize;
  max-width: 700px;
  font-size: 17px;
  margin-bottom: 20px;
}

.hero-btns {
  display: flex;
  gap: 10px;
  margin-bottom: 50px;
}

.hero-btns .btn {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  padding: 8px 24px;
  background-color: white;
  outline: 0;
  border: 0;
  font-size: 19px;
  font-weight: 600;
  border-radius: 4px;
  cursor: pointer;
}

.hero-btns .btn img {
  width: 27px;
}

.hero-btns .dark-btn {
  background-color: #6d6d6eb3;
  color: white;
}

.hero-btns .btn:hover {
  background-color: #ffffffbf;
}

.hero-btns .btn.dark-btn:hover {
  background-color: #6d6d6e66;
}
